@{
    ViewData["Title"] = "Category Management - Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Category List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; Create New Category</a>
    </div>
</div>

<br />
<div class="border rounded">
    <table id="tableData" class="table table-striped">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th>Action</th> 
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/category.js"></script>
}